# System files
.DS_Store
Thumbs.db
*.swp

# Python
.venv/
__pycache__/
*.egg-info/

# Build artifacts
dist/
build/
*.log

# Data files
legacy/
data/

# test
tests/__pycache__/
tests/.pytest_cache/
tests/temp_*
tests/test_data/
tests/*.tmp
tests/.coverage
tests/coverage.xml
tests/htmlcov/
!tests/test_*.py
!tests/__init__.py
